body{
	margin: 0;
}
header{
	background-image: url(../images/bg.jpg);
	padding:52px 0;
	background-repeat:no-repeat;
	background-size:cover;
	background-position-y:center;
}
.container{
	width:820px;
	margin:auto;
	overflow:hidden;
}
.col-1{
	width:22%;
	float:left;
	margin-top: 134px;
}
.col-2{
	width:78%;
	float:left;
}
img{
	max-width: 100%;
	margin: auto;
	display: block;
	margin-left: 337px;
}
header p{
	color:#fff;
	font-size: 16px;
}
header h1{
	color: #fff;
	font-size: 40px;
	line-height: 0;
	padding: -1px;
	margin-top:150px;
}
header a{
	background: #ff3061;
	color: #fff;
	text-decoration: none;
	padding: 8px 65px;
	font-size: 22px;
	border-radius: 7px;
	text-transform: uppercase;
	display:inline-block;
	text-align:center;
}
.btn{
	background:none;
	border:outset;
	color:#fff;
	font-size:20px;
	border-radius:5px;
	text-transform: uppercase;
	cursor: pointer;
	width:173px;
	padding: 10px;
	text-align: center;
}
.about-pnp{
	text-align: center;
	padding: 80px 0;
}
.about-pnp h1{
	color:black;
	font-size:40px;
	margin:0;
}
.about-pnp p{
	color:#887474fc;
	font-size:21px;
	margin-bottom: 35px;
}
.about-pnp strong{
	color:black;
}
.col-3{
	float:left;
	width:50%;
	text-align: center;
	padding: 0px 64px;
	box-sizing: border-box;
}
.feature-section{
	overflow:hidden;
	padding:50px 0;
	background:#efcece;
}
.feature-section p{
	color:#897687;
	font-size:24px;
}
.feature-section h2{
	color:#ff003ccf;
	font-size:29px;
	line-height: 0;
}
.line{
	border-right:5px solid #ff3061;
}